#!/bin/bash
#-*- ENCODING: UTF-8 -*-

main()
{
    source {{ path_venv }}/bin/activate;
    cd {{ home }}/{{ project_name }};
    ./manage.py makemigrations --noinput;
    ./manage.py migrate --noinput;
    ./manage.py migrate --run-syncdb;
    ./manage.py collectstatic --noinput;
}

main
